<div class="profile-input{{#if className}}{{classname}}{{/if}}">
  <p class="profile-input__title">{{title}}</p>
  <input class="profile-input__input" name="{{name}}" value="{{value}}" {{#if disabled}}{{disabled}}{{/if}}
    type="{{type}}">
</div>